<div id="dashboard-page" class="container-fluid d-flex" >
    <div class="row flex-fill">
      <div id="left-nav-container" class="p-t-10">
      <div id="logo-container">
        <img
          id="buckets-logo"
          src="/assets/images/buckets-white-text-logo.svg"
          alt="buckets logo"
          class="buckets-logo-7x"
        />
      </div>
        

        <div class="sidebar-container">
            <ul class="sidebar-nav">
                <li *ngFor="let item of navItems">
                    <a href="">
                        <span class="icon-container">
                          <img src="{{item.iconPath}}" alt="{{item.displayText}}">
                        </span>
                        <span class="nav-text">{{item.displayText}}</span>
                    </a>
                </li>
            </ul>
        </div>
        
        
        
      </div>
      <div id="dash-body-container">
          <!-- Start Top Nav   -->
        <nav id="top-nav-fixed" class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                  <div class="search-input-container m-r-10">
                      <img src= "/assets/images/search-faded-grey-icon.svg"/>                           
                      <input type="text" placeholder="search" />
                  </div>
            </form>
            <ul class="navbar-nav ">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>

          </div>
        </nav>
       <!-- End Top Nav  -->
       

         
          <!-- {this.props.children} -->
          <!-- dash content -->
          <div class="dash-content-container">


            <div class="row">
              <div class="col-md-12">
                <div class="dash-card">
                  <div class="dash-card-header">
                    <div class="title-container">
                      <img class="icon" src="/assets/images/wallet-icon.svg" alt="overview" >
                      <h2 class="title">Overview</h2>
                    </div>  
                    <div class="options-bar-container justify-content-end">
                      <ul class="options-list">
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                      </ul>
                    </div>                  
                  </div>
                  <div class="dash-card-body">
                    dash body
                  </div>
                </div>
              </div>
            </div>


            <!-- table -->

            <div class="row p-t-30">
              <div class="col-md-12">
                <div class="dash-card">
                  <div class="dash-card-header">
                    <div class="title-container">
                      <img class="icon" src="/assets/images/wallet-icon.svg" alt="overview" >
                      <h2 class="title">Transactions</h2>
                    </div>  
                    <div class="options-bar-container justify-content-end">
                      <ul class="options-list">
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                      </ul>
                    </div>                  
                  </div>
                  <div class="dash-card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- MockData -->

            <div class="row p-t-30">
              <div class="col-md-12">
                <div class="dash-card">
                  <div class="dash-card-header">
                    <div class="title-container">
                      <img class="icon" src="/assets/images/wallet-icon.svg" alt="overview" >
                      <h2 class="title">Transactions</h2>
                    </div>  
                    <div class="options-bar-container justify-content-end">
                      <ul class="options-list">
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                        <li><button class="options-button">options</button></li>
                      </ul>
                    </div>                  
                  </div>
                  <div class="dash-card-body">
                    <table class="table">
                      <thead>
                        <tr>  
                          <th scope="col">#</th>
                          <th scope="col">Date</th>
                          <th scope="col">Payee</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let trans of transactions">
                          <th scope="row">1</th>
                          <td>{{trans.date}}</td>
                          <td>{{trans.name}}</td>
                          <td>{{trans.amount}}</td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- end MockData -->

            <!-- table -->



            <!-- <div class="row p-t-30">
              <div class="col-md-6">
                <div class="dash-card">
                  <div class="dash-card-header">
                    <div class="title-container d-flex">
                      <img class="icon" src="/assets/images/wallet-icon.svg" alt="overview" >
                      <h2 class="title">Overview</h2>
                    </div>                    
                  </div>
                  <div class="dash-card-body">
                    dash body
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="dash-card">
                  <div class="dash-card-header">
                    header
                  </div>
                  <div class="dash-card-body">
                    dash body
                  </div>
                </div>
              </div>
            </div> -->


          </div>
          <!-- end dash content -->
      </div>
    </div>
</div>

