@import 'assets/styles/variables.scss';
@import 'assets/styles/colors.scss';
@import 'assets/styles/helpers.scss';



#dashboard-page {
    background: black;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(34,27,75,1) 100%);
    // background: linear-gradient(180deg, #100f17 0%, #201b3a  100%);
    height: 100%;
    color: $light-gray;
}

.section-header {
    display: flex;
    align-items: center;

    .icon-container{
        width: 15px;
        margin-right: 5px;
    }

    h3 {
        font-family: "montserrat-bold";
        margin: 0;
        font-size: 20px;
        color: $gray-text;
    }
}



.glowing-corners-bg {
    background-image: 
      url('/assets/images/top-corner-glow.png'), url('/assets/images/bottom-corner-glow.png');
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  min-height: 70px;
  padding: 14px;
}


.card-list {
    padding: 0;
    margin: 0;
    // margin-left: 14px;

    list-style: none;

    li{
        padding-bottom: 10px;;
    }

    .card-list-item {
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: $dark-pale-purple;
        background: linear-gradient(180deg, rgba(36,31,53,1) 0%, rgba(22,22,22,1) 300%);
        padding: 10px 14px;
        min-height: 60px;
        transition: .3s;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 1px 1px #F400FF;
            transform: scale(1.02);
            transition: .3s;
        }
    }
}

.status-icon-container {
    display: flex;
    align-items: center;
    min-width: 15px;
}

.status-icon {
    background: #464646;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.item-section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .value {
        font-size: 12px;
        margin: 0;
        color: white;
    }

    .label {
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $light-gray;
    }

    .status-text {
        text-transform: uppercase;
        font-size: 10px;
    }
    

}


#ship-container {
    display: flex;
    justify-content: center;

    img {
        max-width: 270px;
        align-self: center;
    }
}

.detail-card {
    display: flex;
    // align-items: center;
    border-radius: 10px;
    padding: 25px;
    min-height: 200px;
    background: url("/assets/images/planet-faded-bg.png"), linear-gradient(180deg, rgba(36,31,53,1) 0%, rgba(22,22,22,1) 100%);
    background-repeat: no-repeat;
    background-position-x: 80px, center;
    background-position-y: 50px, center;
    transition: .3s;

    &:hover {
        // cursor: pointer;
        box-shadow: 0px 0px 1px 1px #F400FF;
        transform: scale(1.02);
        transition: .3s;
    }
}

.detail-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 14px;
    border-left: 1px solid $gray-text;

    li {
        position: relative;
    }
    
    .hollow-bullet {
        border-radius: 50%;
        height: 8px;
        width: 8px;
        background: $dark-pale-purple;
        border: 1px solid $purple;
        position: absolute;
        left: -18px;
        top: 8px;    
    }

    .label {
        font-size: 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $purple;
    }

    .value {
        font-size: 12px;
        color: $gray-text;
    }



}



#logo-container {
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    padding: 10px 0px;
    border-bottom: 1px solid $light-gray;
}

#dashboard-page .buckets-logo-7x {
    width: 150px;
    padding: 15px 0px;
    position: relative;
    left: -10px;
    // display: inline-block;

    // padding-left: 15px;
    // margin: 0 auto;
    // display: block;
}

#top-nav-fixed {
    // position: absolute;
    width: 100%;
    z-index: 99;
    // background: $primary-blue;
    // color: $gray-text;
    // padding-left: 100px;
    height: 60px;
    font-size: 12px;
    font-family: Montserrat-Regular;

    .navbar-brand {
        // background: rgba(255,255,255,0.16);
        width: 200px;
    }

    .nav-link {
        color: $gray-text;
        font-family: Montserrat-Regular;
        -webkit-font-smoothing: antialiased;

        &:hover {
            color: white;
        }

    }

    #navbarSupportedContent {
        justify-content: space-between;
    }

    .search-input-container {
        background: white;
        border-radius: 5px;
        width: 240px;
        height: 36px;
        padding: 9px 15px;
        display: inline-block;
        box-shadow: 0px 1px 6px 0px $pale-grey-green;   

        input{
            background: none;
            border: none;
            display: inline-block;
            box-shadow: none;
            outline: 0;
            font-size: 12px; 
    
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                opacity: 1;
                font-family: Montserrat-Regular;
                font-size: 14px;
                // color: white;
                letter-spacing: 0.38px;
                
              }
              
            
        }
    
        img {
            display: inline-block;
            padding-right: 5px;
        }
    }
    
    
}

#left-nav-container {
    width: 280px;
    box-shadow: 0px 1px 20px 0px #d9e0dc;
    background: linear-gradient( #00E418, #90FFA8);

}

#dash-body-container {
    flex-grow: 1;
    margin-left: 20px;
    padding-top: 20px;
}

.sidebar-container {
    display: flex;
    justify-content: center;
}

.sidebar-nav {
    list-style: none;
    margin-top: 30px;
    padding: 0px;
    text-align: left;
    flex-grow: 1;
    max-width: 190px;

    // padding-left: 15px;

    li {
        margin-bottom: 10px;
    }
    li a {
        font-family: "montserrat-semibold";
        font-size: 12px;
        letter-spacing: .3px;
        color: rgba(255, 255, 255, 0.85);
        display: flex;
        align-items: center;
        padding: 5px 2px;
        border-radius: 10px;        
        transition: .3s;
        text-decoration: none;
        // opacity: 0.7;

        &:hover {
            background:white;
            color: $dark-green-2;  
            opacity: 1;
            
            .icon-container {
                background: $light-green-2;
            }
        }
    }

    .icon-small {
        height: 16px;
        width: 16px;
        display: inline-block;
        position: relative;
        top: 2px;
        left: -5px;

        img {
            height: 16px;
            width: auto;
            @include absoluteCenterAlign();
        }
    }

    .icon-container {
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 6px;
        margin: 0px 8px 0px 4px;
        position: relative;
        align-items: center;
        background: rgba(237, 255, 241, 0.32);
        transition: .3s;

        img {
            height: 15px;
            width: auto;
        }
    }

    .nav-text {
        display: inline-block;
    }

}

.dash-content-container {

    padding: 20px 15px;
    padding-top: 60px;
}

.dash-card {
    background: white;
    min-height: 300px;
    box-shadow: 0px 1px 6px 0px $pale-grey-green;
    border-radius: 6px;
    padding: 10px;
}

.dash-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {
        display: flex;
        align-items: center;
        font-family: 'Montserrat-SemiBold';

        .title {
            font-size: 12px;
            color: $dark-green;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: .5px;
            margin: 0px 5px;
            
        }
        .icon {
            width: 35px;      
        }  
    }

    .options-bar-container {
        .options-list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                margin: 0px 2.5px;
            }
        }
        .options-button {
            border-radius: 3px;
            border: 1px solid $light-gray;
            color: $light-gray;
            padding: 2px 15px;
            font-size: 10px;
        }
    }
}

