<div id="auth-page" class="container-fluid d-flex" >
        <div class="container d-flex">
          <div class="row flex-fill">
            <div class="col-md-12">
            
              <div class="text-center">
              <img
                id="buckets-logo"
                src="/assets/images/logoBuckets.svg"
                alt="Buckets logo"
                class="buckets-logo-8x"
              />
              </div>
              
              
              <router-outlet></router-outlet>

            </div>
          </div>
        </div>
      </div>