<div>
    <div class="section-header">
        <div class="icon-container">
            <img src="/assets/images/rocket-icon.svg" alt="ships">
        </div>
        <h3>Your Ships.</h3>
    </div>
<div class="list-container">
    <ul class="card-list">
        <li>
            <div class="card-list-item">
                <div class="status-icon-container">
                    <span class="status-icon"></span>
                </div>
                <div class="row flex-grow-1">
                    <div class="col-md-5">
                        <div class="item-section-container">
                            <p class="value">VPN Server</p>
                            <span class="label">
                                NAME
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="item-section-container">
                            <p class="value status-text-success">Orbiting</p>
                            <span class="label">
                                STATUS
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
