// colors
$azul: #1340df;
$azuls: #1340df;

// colors 
$pale-grey-green: #d9e0dc;
$primary-green: #10C952;
$light-green: #F0FFF7;
$light-green-2: #EDFFF1;

$vibrant-green: #00FF5B;
$dark-green: #007338;
$dark-green-2: #1D7F31;

$light-gray: #7B7B7B;

// purples
$purple: #B42EFA;
$dark-pale-purple: #231F33;
$vibrant-purple: #F400FF;
$very-dark-purple: #15112D;


$vibrant-sky-blue:#00A7FF;
$orange: #FB4300;
$vibrant-green: #00FF19;
$gray-text: #F0D3FF;
