/*
1x: 25px,
2x: 50px,
3x: 75px,
4x: 100px,
5x: 150px,
6x: 200px
*/

// image sizes
$img-1x: 25px;
$img-2x: 50px;
$img-3x: 75px;
$img-4x: 100px;
$img-5x: 125px;
$img-6x: 150px;
$img-7x: 175px;
$img-8x: 200px;
